*{
    box-sizing: border-box;
}

/***************HEADER****************/
header{    
    width: 90%;
    margin: 1em 5% auto;
    background-color: rgba(254,247,226,255);
}
#contenitore{
    width: 90%;
    margin: 1em 5% auto;
    background-color: rgba(254,247,226,255);

}
/**************Mediaquery per mantenere mobile************/

@media screen and (min-width: 379px){
    #contenitore{
        width: 80%;
        margin: 1em 10% auto;
        background-color: rgba(254,247,226,255);
    
    }

}
@media screen and (min-width: 426px){
    #contenitore{
        width: 70%;
        margin: 1em 15% auto;
        background-color: rgba(254,247,226,255);
    
    }
}
@media screen and (min-width: 487px){
    #contenitore{
        width: 60%;
        margin: 1em 20% auto;
        background-color: rgba(254,247,226,255);
    
    }
}
@media screen and (min-width: 568px){
    #contenitore{
        width: 50%;
        margin: 1em 25% auto;
        background-color: rgba(254,247,226,255);    
    }
}
/**************NAV*********/
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
nav ul div{
    width: 3em;
    height: 3em; 
}
nav ul div img{
    width:100%;
    height: 100%;
}
/***************BOTTONI*****************/
nav ul button{
    width: 7em;
    height: 3em;
    margin: 0.3em 0.5em;
    background-color: rgba(255,223,127,255);
    border: none;
    border-radius: 20% / 50%;
    color: rgba(115,33,4,255);
    font-weight: bold;
}
#shop-button{
    width: 15em;
    height: 6em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
}
nav ul li:nth-child(3){
    order: -1;
    align-items: center;
}
/*****************MAIN**************/
main{
    width: 90%;
    margin: 1em 5% auto;
}
/*****************main h1*************/

h1{
    margin:1em auto;
    font-size: larger;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    word-wrap: break-word;
    color: rgba(115,33,4,255);
}
h1 span{
    display: block;
}
/******************Cards*************************/

section article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 15em;
    height: 20em;
    border-radius: 5%;
    background-color: rgba(254,247,226,255);
    margin: 1em auto;
    
}
.cards img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.cards span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em auto;
    color: rgba(115,33,4,255);
}
.cards button{
    width: 50%;
    height: 3em;
    margin: 1em 25% 0;
    background-color: rgba(255,223,127,255);
    border: none;
    border-radius: 20% / 50%;
    color: rgba(115,33,4,255);
    font-weight: bold;
}
/*********************Main Article dove c'è la spiegazione *******************/
/******************H2******************/

article #secondario{
    margin:1em auto;
    font-size: large;
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    word-wrap: break-word;
    color: rgba(115,33,4,255);
}

article section{
    width: 15em;    
    border-radius: 5%;
    background-color: rgba(254,247,226,255);
    margin: 1em auto 2em;
}
h3{
    padding: 0.5em;
    margin:1em auto;
    font-size: large;
    text-align: left;
    font-size: 1em;
    font-weight: bolder;
    word-wrap: break-word;
    color: rgba(115,33,4,255);
}
article section div{
    width: 14em;
    height: 12em;
}
article section p {
    padding:0.5em;
}

article section div img{
    
    width: 100%;
}
/*******************MEDIA QUERIES*******************/
@media screen and (min-width: 577px){
/******************Header************/
header{    
    width: 90%;
    background-color: rgba(254,247,226,255);
}
nav ul li:nth-child(3){
    order: 0;
    align-items: center ;
}
#contenitore{
    width: 90%;   
    margin: 1em 5%;
    background-color: rgba(254,247,226,255);

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    list-style: none;
}

}
